# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
.txt
.txt/*

/*********** ENVIRONMENTAL VARIABLE ****************/

NODE_ENV = development
PORT = 4005
APP_KEY = 04ddf23f9ae50f605ef56ec17000b746

# MONGO_URI = mongodb://127.0.0.1:27017/onAbooking
MONGO_URI = mongodb+srv://blessing:blessing@cluster0.rvzyj.mongodb.net/onAboking-api?retryWrites=true&w=majority

JWT_SECRET = onAbooking
JWT_EXPIRE_IN = 2d
REFRESH_SECRET = onAbooking

BUGSNAG = 04ddf23f9ae50f605ef56ec17000b746

CLOUDINARY_ACCOUNT_KEY=644429628684883
CLOUDINARY_CLOUD_NAME=yoyoplenty
CLOUDINARY_SECRET_KEY=Oxhb6vrR0pxT_f_8bJU2b66QbfQ
